<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Unity Android project</h1>

<div id="log">

</div>

<button onclick="closeInventar()">Click me</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
    var socket = io.connect('http://god.meeteux.fhstp.ac.at');
    socket.on('news', function (data) {
        socket.emit('registerOD', 'Niklas');
        socket.emit('registerLocation', {user: 1, location: 100});

        socket.on('registerODResult', function (data) {
            var node = document.createElement("p");
            node.innerHTML = data;
            document.getElementById("log").appendChild(node);
            //console.log(data);
        });

        socket.on('registerLocationResult', function (data) {
            var node = document.createElement("p");
            node.innerHTML = data;
            document.getElementById("log").appendChild(node);
        });
    });
</script>

<script>
    function closeInventar ()
    {
		if (typeof MEETeUXAndroidAppRoot !== "undefined")
		{
		    var node = document.createElement("p");
            node.innerHTML = "close Inventar";
            document.getElementById("log").appendChild(node);

			MEETeUXAndroidAppRoot.switchToUnity();
		}
	}
</script>
</body>
</html>